#File names and twitter channels config file.
#Comments lines should start with hashtag
#The file should not more than two lines of content:
#First line: twitter account names (screen names)
#Second line: file names to store the corresponding news
BBCPolitics, cnnpolitics, WorldSportCNN, BBCSport, cnntech, BBCTech
tw_bbcpolitics.news, tw_cnnpolitics.news, tw_cnnsport.news, tw_bbcsport.news, tw_cnntech.news, tw_bbctech.news
